body {
  margin: 0;
  padding: 0;
}

#gameTitle {
  width: 100%;
  text-align: center;
}

.tigersBlood {
  width: 100%;
  text-align: center;
}

.header {
  width: 100%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.gameInfo {
  font-size: 1.5em;
}

#score {
  width: 60%;
  margin: 0 auto;
}

#stars {
  font-weight: bold;
}

#gameArea {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 85%;
  margin: 0 auto;
  background: linear-gradient(45deg, red, blue);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 2%;
  box-shadow: 5px 15px 5px 5px grey;
}

#winArea {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 40%;
  margin: 0 auto;
  background: lightgrey;
  border-radius: 2%;
  box-shadow: 5px 15px 5px 5px grey;
  text-align: center;
  color: red;
  justify-content: center;
  align-content: center;
}

#winButton {
  font-size: 2em;
  height: 20%;
  width: 40%;
}

.card {
  background-color: teal;
  border-radius: 5%;
  margin: 5px;
}

.text {
  text-align: center;
  color: white;
  font-size: 3em;
}

.hidden {
  visibility: hidden;
}
